# Python
__pycache__/
*.py[cod]
*.pyc
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# Web (Next.js)
web/.next/
web/node_modules/

# Misc
*.log
.DS_Store